site_name: {{ package_name }}
repo_url: https://github.com/{{ github_user }}/{{ package_name }}

theme:
  name: material

plugins:
  - search
  - mkdocstrings

nav:
  - Home: index.md
  - Changelog: CHANGELOG.md
